body{
    overflow-x: hidden;
}
#mainpageDiv{
    margin-top: 20%;
    margin-bottom: 20%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
button,a{
    white-space: nowrap;
    overflow: hidden;
}
#image{
    width: 6em;
    height: 4em;
}
#headingdiv{
    width: auto;
}
@media screen and (max-width:992px) {
    #mainpageDiv{
        
        margin-top: 50%;
        
        
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); */
    }
}